/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,500&family=Open+Sans:wght@300&family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@500&display=swap');

  h1 {
    margin: 20px 0;
  }

  .container {
  margin: 20px 20px;
}

.letters-container {
  display: flex;
}

  .letters {
  background-color: rgb(42, 168, 246) ;
  color: white;
  font-family: 'Roboto Serif', serif;
  font-weight: bolder;
  padding: 15px 15px;
  margin: 10px 5px;
  box-shadow: 5px 5px 10px grey;
  width: 50px;
  height: 50px;
  text-align: center;
}

.form-container {
  margin-top: 2rem;
}
